---
---

@import "{{ site.theme }}";


a#forkme_banner {
    display: none;
}

section#main_content {
    padding: 13px 5px 0;
}

img {
    max-width: 100%;
}

body {
    color: #382d22;
}

.header-level-1 {
    display: none;
}
.header-level-2 {
    text-align: center;
}

h3 {
    background-color: #7c334f;
    font: bold italic .85em/1.5 Georgia, Times, “Times New Roman”, serif;
    color: #e69b95;
    padding-bottom: 14px;
    margin-top: -3px;
    text-align: center;
}
